@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 8%);
  font-family: Inter, sans-serif;
  padding: 40px 20px;
  color: hsl(0, 0%, 100%);
  font-size: 14px;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  background-color: hsl(0, 0%, 12%);
  align-items: center;
  width: 500px;
  max-width: 100%;
  padding: 30px;
}

.main-container img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.texts {
  display: flex;
  flex-direction: column;
}

.boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  width: 100%;
}

.boxes span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 20%);
  height: 30px;
  padding: 20px 10px;
  width: 100%;
  border-radius: 5px;
  font-weight: 700;
}

.primary-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 15px;
}

.primary-text .first-title {
  font-size: 25px;
  font-weight: 700;
}
.primary-text .second-title {
  font-weight: 600;
  color: hsl(75, 94%, 57%);
}

.secondary-text {
  font-weight: 400;
  margin-top: 30px;
}

.boxes span:hover {
  cursor: pointer;
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 12%);
  caret-color: hsl(0, 0%, 12%);
}
